body {
  margin: 0px;
  width: 100%;
  font-family: Favoritfreshly, sans-serif;
  font-weight: 400;
}

.preNav {
  height: 33px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.leftDiv {
  width: 100px;
  padding: 7px 2px;
  border-bottom: 2px solid rgb(3, 81, 78);
  margin-right: -8px;
}

.rightDiv {
  width: 150px;
  padding: 7px 2px;
}

#icon1 {
  height: 11px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 20px;
  position: sticky;
  top: 0;
  background-color: rgb(255,253,247);
  z-index: 2;
}

#navImg {
  height: 24px;
  margin-top: -1px;
  padding-left: 1px;
}

#navLinks {
  display: flex;
  margin-left: -25px;
}

#navLinkBox {
  text-decoration: none;
  padding: 0px 18px;
  color: rgb(48, 48, 48);
  font-weight: bold;
  font-size: 0.8em;
}

#navLinkBox:hover {
  color: rgb(49, 103, 255);
}

#setup {
  display: flex;
}

#login {
  text-decoration: none;
  font-size: 0.8em;
  margin-right: 17px;
  color: black;
  font-weight: bold;
}

#signUpBtn {
  background-color: rgb(49, 103, 255);
  color: white;
  text-decoration: none;
  border: 1px solid rgb(49, 103, 255);
  padding: 7px 9px;
  font-size: 1em;
  margin-top: -8px;
  cursor: pointer;
  letter-spacing: .5px;
}

#signUpBtn:hover {
  transform: translateX(2px) translateY(-2px);
  transition: transform 0.4s;
}

#firstDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.firstDivLeft {
  width: 41%;
}

.firstDivLeft > p {
  padding-left: 65px;
  margin-top: -90px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.firstDivLeft > button {
  padding: 12px 14px;
  font-size: 1.2em;
  margin: 15px -45px 0px 65px;
  color: white;
  background-color: rgb(49, 103, 255);
  border: 1px solid rgb(49, 103, 255);
  cursor: pointer;
}

#redeemBtn {
  background-color: white;
  color: rgb(49, 103, 255);
}

#firstDivRight {
  width: 54%;
}

#firstDivImg {
  width: 100%;
  background-size: cover;
  height: 493px;
  object-fit: cover;
}

h1 {
  font-size: 2.9em;
  color: rgb(51, 51, 51);
  padding: 83px 0px 80px 65px;
}
